<div class='menu' id='menu-<%= menu.id %>'>
  <%= link_to 'Back To Top', '#navigation-bar', class: 'scroll' %>
  <h2><%= menu.name %></h2>
  <% menu.product_categories.each do |category| %>
    <h4><%= category.name %></h4>
    <% category.products.each do |product| %>
      <span><%= product.name %> Price: <%= product.price %></span>
      <button type='button'>Order</button><br />
    <% end %>
  <% end %>
</div>
