<div class='menu' id='menu-<%= menu.id %>'>
  <%= link_to 'Back To Top', '#navigation-bar', class: 'scroll' %>
  <h2><%= menu.name %></h2>
  <% menu.product_categories.each do |category| %>
      <h4><%= category.name %></h4>
      <% category.products.each do |product| %>
          <div id="product-<%= product.id %>">
            <span><%= product.name %> Price: <%= product.price %></span>
            <% if session[:order_id] %>
                <%= button_to 'Add to Order', order_path(session[:order_id]), method: :put, params: {product: product} %>
            <% else %>
                <%= button_to 'Add to Order', orders_path, params: {product: product} %>
            <% end %>
            <br/>
          </div>
      <% end %>
  <% end %>
</div>
