 <div class='menu' id='menu-<%= menu.id %>'>
  <%= link_to 'Back To Top', '#navigation-bar', class: 'scroll' %>
  <h2><%= menu.name %></h2>
  <% menu.product_categories.each do |category| %>
    <h4><%= category.name %></h4>
    <% category.products.each do |product| %>
      <div class='product-area'>
        <span><%= product.name %> Price: <%= product.price %></span>
        <button type='button' class='search-btn btn btn-outline-warning'>Order</button><br />
      </div>
    <% end %>
  <% end %>
</div>
