<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>


<div id='menu-links'>
  <ul>
    <% @restaurant.menus.each do |menu| %>
      <%= link_to menu.name, "#menu-#{menu.id}", class: 'scroll' %>
    <% end %>
  </ul>
</div>

<div id='menus'>
  <%= render @restaurant.menus %>
</div>

<div id='reviews'>
  <%= render @restaurant.reviews %>
</div>

<%= form_for [@restaurant, @restaurant.reviews.new] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Add review" %>
<% end %>
